form {
  padding: 40px 0;
  .form {
    &-radio {
      .form-text {
        font-size: 12px;
        font-weight: bold;
        color: rgb(163, 163, 163);
      }
      &__radio {
        font-weight: bold;
        & > label {
          font-size: 14px;
        }
      }
      .form-check-input {
        cursor: pointer;
        &:checked {
          background-color: #fff;
          border-color: rgb(163, 163, 163);
          background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%272.5%27 fill=%27%23black%27/></svg>");
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
    &-switcher {
      padding-left: 0;
      .form-text {
        font-size: 12px;
        font-weight: bold;
        color: rgb(163, 163, 163);
      }
      .form-switch {
        padding-left: 44px;
        .form-check-input {
          cursor: pointer;
          height: 20px;
          margin-top: 0;
          background-color: rgba(0, 0, 0, 0.25);
          border: none;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255)'/></svg>");
          &:focus {
            box-shadow: none;
          }
          &:checked {
            background-color: #fd850d;
          }
        }
      }
      .text {
        &_checked {
          font-weight: bold;
          color: #000;
        }
      }
    }
    &-input {
      .form-control:focus {
        border-color: rgba(253, 133, 13, 0.25);
        box-shadow: 0 0 0 0.25rem rgba(253, 133, 13, 0.25);
      }
      input {
        width: 170px;
        height: 32px;
        border-radius: 20px;
        font-weight: bold;
        outline: none;

        &::placeholder {
          font-weight: normal;
        }
      }
      .form-text {
        font-weight: bold;
        font-size: 16px;
        color: #000;
      }
    }
  }
}
