.icon {
  cursor: pointer;
  &:before {
    content: "";
    background: url("../../assets/icons/info.svg") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  &_clicked {
    &:before {
      background: url("../../assets/icons/x-circle.svg") no-repeat;
    }
  }
}
.bs-popover-bottom {
  margin-left: 5px;
  & > .popover-arrow::after {
    border-bottom-color: rgb(121, 85, 237) !important;
    border-left: 0 !important;
  }
  & > .popover-arrow::before {
    border-left: 0 !important;
  }
  .popover-body {
    font-size: 14px;
  }
}
