.salary-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 28px;
  background-color: rgb(244, 232, 205);
  width: fit-content;
  &__el {
    span {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
